<h1 class="all-profiles-main-header">Profiles</h1>
  <ul class="all-profiles-card">
    <% for (let i = 0; i < profiles.length; i++ ) {%>
    <li>
      <a href="/user/profile/<%= profiles[i].username %>"><%= profiles[i].firstName %> <%= profiles[i].lastName %></a> 

      <img src="<%= profiles[i].picturePath %>" alt="<%= profiles[i].username %>'s Profile Picture" height="250px">
      <% if(reqInfo.roles?.includes("Admin")) { %>
        <a href="/user/<%= profiles[i].username %>/delete"><button>Delete</button></a>
        <% } %>
    </li>
    <% } %>
</ul>
<div class="error">
<%= errorMessage %>
</div>

