<h3> Edit Profile</h3>
<link rel='stylesheet' href='/styles/styles.css' />
<form action="/user/edit/<%= user.username %>" method="POST" enctype="multipart/form-data" > 

        <!-- <% if(user.imagePath) { %>
        <img src="<%= user.imagePath %>" alt="<%= user.username %>" height = 300px />
        <% } %>
        <br/> -->

    <input type="hidden" id="username" name="username" value="<%= reqInfo.username %>">
    <input type="hidden" id="profile_id" name="profile_id" value="<%= profile_id %>">

    <label for="firstName">First Name:</label>
    <input id="firstName" name="firstName" type="text" 
                value="<%= user.firstName ? user.firstName : '' %>" >

    <label for="lastName">Last Name:</label>
    <input id="lastName" name="lastName" type="text" 
            value="<%= user.lastName ? user.lastName : '' %>" >

    <label for="email">Email:</label>
    <input id="email" name="email" type="text" 
            value="<%= user.email ? user.email : '' %>" >

    <% if(reqInfo.roles?.includes("Admin") || reqInfo.roles?.includes("Manager")) { %>
    <label for="roles">Roles:</label>
    <div class="roles">
    <input type="checkbox" name="roles" value="Admin" <%= user.roles.includes("Admin") && "checked"%>>Admin
    <input type="checkbox" name="roles" value="Manager" <%= user.roles.includes("Manager") && "checked"%>>Manager
    </div>
    <% } %> 

    <label for="interests">Interests(input with comma please):</label>
    <input id="interests" name="interests" type="text" 
                value="<%= user.interests ? user.interests : '' %>" >

    <input id="photo" name="photo" type="file" >
    <br/>
    <label for="deleteProfilePic">Delete current profile pic: </label>
    <input type="checkbox" name="deleteProfilePic" id="deleteProfilePic" value="1">
    <br/>

    <button type="submit" value="Submit">Submit</button>

</form>

<%= errorMessage %>