<h1 class="all-profiles-main-header">Profiles</h1>
<div>
  <ul>
    <% for (let i = 0; i < profiles.length; i++ ) {%>
    <li>
      <% if(profiles[i].picturePath) { %>
        <a href="/user/profile/<%= profiles[i].username %>">
          <img src="<%= profiles[i].picturePath %>" alt="<%= profiles[i].username %>'s Profile Picture" class="global-images" />
          <%= profiles[i].firstName %>
        </a>

      <% } else {%>
        <a href="/user/profile/<%= profiles[i].username %>"><%= profiles[i].firstName %></a>
      <% } %>
      <% if(reqInfo.roles?.includes("Admin")) { %>
        | <a href="/user/<%= profiles[i].username %>/delete"><button>Delete</button></a>
      <% } %>
    </li>
    <% } %>
  </ul>
  </div>
<div class="error">
<%= errorMessage %>
</div>

