
    <h2><%= userProfile.username%></h2>
    <p><%= userProfile.firstName %> <%= userProfile.lastName %></p>
    <% if(userProfile.picturePath) { %> 
        <img src="<%= userProfile.picturePath %>" alt=" <%= userProfile.username%>'s Profile Picture"><% } %>
        <ul>
            <% for (let j = 0; j < userProfile.interests.length; j++) { %>
              <li><%= userProfile.interests[j] %></li>
            <% } %>
          </ul>

