
<h2><%= userProfile.username%></h2>
<p><%= userProfile.firstName %> <%= userProfile.lastName %></p>

<% if(userProfile.picturePath) { %> 
    <img src="<%= userProfile.picturePath %>" alt=" <%= userProfile.username%>'s Profile Picture">
<% } %>

<ul>
    <% for (let j = 0; j < userProfile.interests; j++) { %>
      <li><%= userProfile.interests[j] %></li>
    <% } %>

    <% if(userProfile.comments && userProfile.comments.length > 0) { %>
      <h4>Comments</h4>
      <ul>
        <% for (let j = 0; j < userProfile.comments.length; j++) { %>
          <li><%= userProfile.comments[j].commentBody %> --- <%= userProfile.comments[j].commentAuthor %> </li>
        <% } %>
        <% } %>
</ul>

<%if(userProfile.username != reqInfo.username) {%>
  <form action="/user/comment/<%= userProfile.username %>" method="POST" > 
    <input type="hidden" id="username" name="username" value="<%= userProfile.username %>">
    <label for="name"></label>
    <input id="comment" name="comment" placeholder= "Please leave your comment" type="text" >
    <button type="submit" value="Submit">Submit</button>
  </form>
<% } %>

        

